<% include header %>    
<% include nav %>    
<% include slider %>     

<style>
	p {
		text-align: justify;
	}
</style>
    
	<div id="page">
		<div id="content">
			<div class="box">
				<h2>About Us</h2>
									  <!-- Write your content here-->
				<p>Usell.com is the world's leading classifieds platform which provides local communities in high-growth markets with vibrant online marketplaces: It connects local people to buy, sell or exchange used goods and services by making it fast and easy for anyone to post their on the web.</p>
				<br>
				<p>Every month, hundreds of millions of people in local markets around the world are already using OLX's online marketplace to find and sell a wide range of products, including computers, cell phones, furniture, sporting goods, services, cars, properties, and many more.</p>
                        
                        </div>
		</div>
		<% include sidebar %>
		<br class="clearfix" />
	</div>
    
    
<% include footer %>        
    
    
    
    
    
    
