<% include header %>    
<% include adminnav %>    
<% include slider %>        
    
	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Welcome To <%= role %> Panel</h2>
			    <h3>Welcome <%= unm %></h3>        
                        </div>
		</div>
		<% include sidebar %>
		<br class="clearfix" />
	</div>
    
    
<% include footer %>        
    
    
    
    
    
    
