<% include header %>    
<% include nav %>    
<% include slider %>        
    
	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Contact page</h2>
			                          <!-- Write your content here-->
                        
                        </div>
		</div>
		<% include sidebar %>
		<br class="clearfix" />
	</div>
    
    
<% include footer %>        
    
    
    
    
    
    
