
	<div id="page-bottom">
		<div id="page-bottom-content">
			<h3>About Site</h3>
			<p>
				Usell.com is the world's leading classifieds platform which provides local communities in high-growth markets with vibrant online marketplaces: It connects local people to buy, sell or exchange used goods and services by making it fast and easy for anyone to post their on the web.
			</p>
		</div>
		<div id="page-bottom-sidebar">
			<h3>Social Links</h3>
			<ul class="list">
				<li class="first"><a href="https://www.facebook.com/ankit.raj3" target="blank">Facebook</a></li>
				<li><a href="mailto:151234juet@gmail.com" target="blank">Gmail</a></li>
				<li class="last"><a href="https://github.com/Ankit11219" target="blank">GitHub</a></li>
			</ul>
		</div>
		<br class="clearfix" />
	</div>
</div>
<div id="footer">
	&copy; Usell.com All rights reserved. Design by <a href="#" rel="nofollow">MEAN Developer</a>.
</div>
</body>
</html>
