<% include header %>   
<% if (mycheck==1 && role=='user') { %>
	<% include usernav %>
	<% } else if (mycheck==1 && role=='admin'){ %>
		<% include adminnav %>
    <% } else { %>
<% include nav %>
<% } %>   
<% include slider %>        
    
	<div id="page">
		<div id="content">
			<div class="box">
				<h2>Welcome to Usell.com</h2>
				<h2><%= unm %></h2>       

				
				<style>
				#mycat
				{
					height: 450px;
					width: 600px;
				}
				#mycat1
				{
					height: 150px;
					width: 200px;
					float:left;  
				}

				</style>

				<div id="mycat">
					<% for(i=0;i<mycat.length;i++) { %>
					<a href="/viewsubcat/<%= mycat[i].cat_nm %>">	
					<div id="mycat1">
						<center><img src="../uploads/<%= mycat[i].cat_img %>" height="100" width="150"/>
						<br>
						<b><%= mycat[i].cat_nm %></b>
						</center>
					</div>
					</a>
					<% } %>
				</div>
				
                </div>
		</div>
		<% include sidebar %>
		<br class="clearfix" />
	</div>
    
    
<% include footer %>        
    
    
    
    
    
    
