<div id="sidebar">
    <div class="box">
        <h3>Social Links</h3>
        <ul class="list">
            <li class="first"><a href="https://www.facebook.com/ankit.raj3" target="blank">Facebook</a></li>
            <li><a href="mailto:151234juet@gmail.com" target="blank">Gmail</a></li>
            <li><a href="https://github.com/Ankit11219" target="blank">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/ankit-raj-5443ab162" target="blank">LinkedIn</a></li>
        </ul>
    </div>
</div>