    
    
	<div id="slider">
		<div class="viewer">
			<div class="reel">
				<div class="slide">
                                    <img src="../images/logo.png" alt="" />
				</div>
				<div class="slide">
					<img src="../images/buyselltrade1.jpg" alt="" height="250"/>
				</div>
				<div class="slide">
					<img src="../images/buyselltrade2.jpg" alt="" height="230" width="850"/>
				</div>
				<div class="slide">
					<img src="../images/buyselltrade3.jpg" alt="" height="230" width="600" style="margin-left: 8%"/>
				</div>
				<div class="slide">
					<img src="../images/buyselltrade4.png" alt="" height="230" width="865"/>
				</div>
			</div>
		</div>
		<div class="indicator">
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<span>4</span>
			<span>5</span>
		</div>
	</div>
    

