    
	<div id="menu">
		<ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/users/manageprofile">Manage Profile</a></li>
                    <li><a href="/users/managepost">Manage Post</a></li>
                    <li><a href="/addpost">Add Post</a></li>
                    <li><a href="https://enigmatic-gorge-26752.herokuapp.com/chat.html?name=Seller&room=<%= unm %>">Chat with Buyer</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li style="margin-left:10%;"><a href=""><img src="../images/user.ico" width="35px" height="25px"></a></li>

		</ul>
		<br class="clearfix" />
	</div>
    

